/target
/result
/result-lib
.**
!.tangled
!.github
!.cargo
!.claude-plugin
!.gitignore
!.envrc
/.pre-commit-config.yaml
crates/jacquard-lexicon/target
/plans
/docs
/binaries/releases/
rustdoc-host.nix
**/**.car
result
